language: python
python:
  - '3.8'
cache:
  - pip
install:
  - pip install -r requirements/travis.txt
sudo: false
script:
  - echo "Success"
after_success: coveralls
deploy:
  provider: pypi
  user: edx
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: 3.8
  password:
    secure: epdRjuFfc/VQ6G/JQxChorxAXBdB2JsiGOJtJ0O74gsNRvg9oNhQqGvrB+afZNYUHA7OE8ZJ+L+VFCIdRczVF296lOPj/M3juqzPIhT6bBtoZma8wlh1Bx7kXkTrMI6PWYhni+VPiA+H3Gqg1EAIkhk0nMskDJh8gmFsEphtwPymoM5uGJnIqvq50wOT5Vktgaav3ZbglhbeK4eciqdLLMajAhW5QTzZcEeMcHqkxlEdgTQ424Xs6zcCYJjvSawv2YtQvo2M6RGq+3DLnpte/Pg12Gt3Ah8hQb3NzFYAuAzEVtNfML4PSoKQqVGVBqRvJCYDHZOW8u4z/JiuAmnrbM1inmu3nd1hz7Ory6XPbTxR4ljhOLk9Txwbt2Hj2XfVFBd4APhVTpee70XNUq8IhvmDMsVbtn4vvV4bPiYgAu1RvadAaBnfwCKIMnnsvQzjTMN2pEG6jzH5ba3PkwGjgZkOFF0sXJCljH0v7JyBnbOjyxVump3z4khQSuGJRJ1Ia/+9ICbc9dix/2GevVhtIq2ophm+OZsaOXdO9EDVwMUKAasxKOTXrHW0XSmggg+/18JWpruECJbeN6JztdXywizzwoQr3ShrkdzgGPxi4n9zMNtZ5QMnOEk2ZiZWTUL8jByet1doZznbEWHhPRRhYPXE9badoXUdTU38PG5x11A=
